/*
* CSS4 NOW
*
* SET value.
* You can use custom media-query:
* @custom-media --viewport-medium (width <= 50rem);
*
* Use in your project custom selector:
* @custom-selector :--heading h1, h2, h3, h4, h5, h6;
*
* Set user variable in your css code:
* :root { --mainColor: #12345678;}
*
*/


/*
*
* Example use color:
* color: var(--mainColor);
*
* Example use custom-selector:
* :--heading {font-size: 24px}
*
* Example use custom-media:
* @media (--viewport-medium) {...}
*
*/

/*@import "structure/var.css";*/
body {
  display: flex;
}